Package: python{{vparts[0]}}.{{vparts[1]}}-local
Version: {{ver}}-0
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Description: Interactive high-level object-oriented language (version {{vparts[0]}}.{{vparts[1]}})
