Package: nodejs{{vparts[0]}}
Version: {{ver}}
Architecture: amd64
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@alioth-lists.debian.net>
Recommends: ca-certificates, nodejs-doc
Suggests: npm
Section: javascript
Priority: optional
Multi-Arch: foreign
Description: evented I/O for V8 javascript - runtime executable
 Node.js is a platform built on Chrome's JavaScript runtime for easily
 building fast, scalable network applications. Node.js uses an
 event-driven, non-blocking I/O model that makes it lightweight and
 efficient, perfect for data-intensive real-time applications that run
 across distributed devices.
